.expence__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #0194d8;
}

.expence-item{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;

}

.expence__wrapper h2{
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;

}

.expence-item__amount{
    background-color:  rgb(24, 91, 137);
    border-radius: 12px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

@media (min-width: 580px) {
    .expence-item{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .expence__wrapper h2{
        text-align: center;
        font-size: 1.25rem;
    }

    .expence-item__amount{
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem
    }
}